In [1]:
import numpy as np
import pandas as pd

## SERIES

In [2]:
my_dictionary = {"Osman" : 23, "Sueda" : 19, "Ayhan" : 49, "Havvali" : 48}

In [7]:
pd.Series(my_dictionary)

Osman      23
Sueda      19
Ayhan      48
Havvali    48
dtype: int64

In [8]:
type(pd.Series(my_dictionary))

pandas.core.series.Series

In [9]:
my_ages = [23,19,49,48]
my_names = ["Osman", "Sueda", "Ayhan", "Havvali"]

In [13]:
pd.Series(my_ages, my_names)

Osman      23
Sueda      19
Ayhan      49
Havvali    48
dtype: int64

In [14]:
pd.Series(data=my_ages, index=my_names)

Osman      23
Sueda      19
Ayhan      49
Havvali    48
dtype: int64

In [15]:
numpy_list = np.array([23,19,49,48])

In [16]:
numpy_list

array([23, 19, 49, 48])

In [17]:
pd.Series(numpy_list)

0    23
1    19
2    49
3    48
dtype: int64

In [18]:
pd.Series(data=numpy_list, index=my_names)

Osman      23
Sueda      19
Ayhan      49
Havvali    48
dtype: int64

In [19]:
pd.Series(["Osman", "Kagan", "Ahmet"], [1,2,3])

1    Osman
2    Kagan
3    Ahmet
dtype: object

In [22]:
race_result_1 = pd.Series([10,5,1],["Osman", "Kagan", "Ahmet"])

In [23]:
race_result_2 = pd.Series([20,8,3],["Osman", "Kagan", "Ahmet"])

In [24]:
race_result_2

Osman    20
Kagan     8
Ahmet     3
dtype: int64

In [25]:
general_race_result = race_result_1 + race_result_2

In [26]:
general_race_result

Osman    30
Kagan    13
Ahmet     4
dtype: int64

In [32]:
new_series_1 = pd.Series([10,20,30,40], ["a","b","c","d"])

In [36]:
new_series_1

a    10
b    20
c    30
d    40
dtype: int64

In [33]:
new_series_2 = pd.Series([8,23,15,42], ["a","b","d","f"])

In [37]:
new_series_2

a     8
b    23
d    15
f    42
dtype: int64

In [34]:
general_new_series = new_series_1 + new_series_2

In [35]:
general_new_series

a    18.0
b    43.0
c     NaN
d    55.0
f     NaN
dtype: float64